body { background-color: lightgray; margin: 0; }
.inner { width: 960px; margin-left: auto; margin-right: auto; background-color: white; padding: 25px; }
.container { width: 1010px; }
#chart-container { width: 960px; height: 500px; } 
.input-append input { width: 80px; }
.input-append { margin-top: 10px; }
.add-on { cursor: pointer; }
#controls { margin-left: 75px; text-align: right; margin-top: 40px; margin-right: 10px; }
#copyright { margin-top: 50px; width: 960px; vertical-align: bottom; height: 100px; text-align: center; background-image: url('../img/sowalabs.png'); background-repeat: no-repeat; background-position: center top; }
h1 { text-align: center; }
.btn:focus { outline: none; }